[Unit]
Description=copyq
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/copyq

[Install]
WantedBy=X11.target
