[Unit]
Description=Clipboard manager with searchable and editable history

[Service]
Type=idle
ExecStart=/usr/bin/copyq

[Install]
WantedBy=Xorg.target
