[Unit]
Description=fcitx5
After=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=oneshot
ExecStart=-/usr/bin/fcitx5 -d
RemainAfterExit=yes

[Install]
WantedBy=graphical-session.target
