[Unit]
Description=Communication Daemon between desktop and smartphone

[Service]
Type=idle
ExecStartPre=/usr/bin/sleep 5
ExecStart=/usr/bin/kdeconnect-indicator

[Install]
WantedBy=Xorg.target
