[Unit]
Description=network-manager-applet
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/nm-applet

[Install]
WantedBy=graphical-session.target
