[Unit]
Description=LXQt policykit authentication agent

[Service]
Type=idle
Environment="LANG=zh_CN.UTF-8"
ExecStart=/usr/bin/lxqt-policykit-agent

[Install]
WantedBy=Xorg.target
