[Unit]
Description=udiskie
After=graphical-session.target
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/udiskie --smart-tray

[Install]
WantedBy=graphical-session.target
