[Unit]
Description=Removable disk automounter using udisks

[Service]
Type=idle
ExecStart=/usr/bin/udiskie --smart-tray

[Install]
WantedBy=Xorg.target
