[Unit]
Description=Provides settings to X11 applications via the XSETTINGS specification

[Service]
Type=idle
ExecStart=/usr/bin/xsettingsd

[Install]
WantedBy=Xorg.target
