[Unit]
Description=Provides settings to X11 applications via the XSETTINGS specification

[Service]
Type=idle
Environment="LANG=zh_CN.UTF-8"
ExecStart=/usr/bin/xsettingsd

[Install]
WantedBy=Xorg.target
