#!/bin/sh

export LANG=zh_CN.UTF-8

### Qt
export QT_QPA_PLATFORMTHEME=qt5ct
export QT_AUTO_SCREEN_SCALE_FACTOR=0    # 用xrdb手动设置DPI

### Fcitx
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx
export SDL_IM_MODULE=fcitx
export GLFW_IM_MODULE=ibus

# 同步环境变量到所有systemd将要启动的程序
dbus-update-activation-environment --systemd --all

(
    sleep 2
    # 交换Caps_Lock和Escape
    setxkbmap -option caps:swapescape
    # 交换右Ctrl和右Alt
    setxkbmap -option ctrl:rctrl_ralt
    setxkbmap -option ctrl:ralt_rctrl
) &
