:root {
  --frame-background-color: #2b2a33;
}

/* 隐藏标签栏 */
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
  visibility: collapse !important;
}

/* 去除地址栏、搜索栏的阴影边框 */
#urlbar:not(.megabar), #urlbar.megabar > #urlbar-background, #searchbar {
  box-shadow: none !important;
}
/* 隐藏地址栏的容器图标 */
#urlbar .identity-icon-fingerprint {
  display: none !important;
}

/* 简化后退图标 */
#back-button > .toolbarbutton-icon {
  border: none !important;
  background-color: unset !important;
}

/* 自动弹出式侧边栏 */
/* 强制在 VisualTab 扩展下有效 */
#sidebar-box[sidebarcommand="visualtab_xuldev_org-sidebar-action"] {
  z-index: 1000 !important;
  position: relative !important;
  min-width: 35px !important;
  max-width: 35px !important;
}
#sidebar-box[sidebarcommand="visualtab_xuldev_org-sidebar-action"] #sidebar {
  position: absolute !important;
  transition: all 0.1s;
}
#sidebar-box[sidebarcommand="visualtab_xuldev_org-sidebar-action"] #sidebar:not(:hover) {
  width: 35px !important;
  min-width: 35px !important;
  max-width: 35px !important;
}
#sidebar-box[sidebarcommand="visualtab_xuldev_org-sidebar-action"] #sidebar:hover {
  box-shadow: 2px 0 13px 0px #333333;
}
#sidebar-box[sidebarcommand="visualtab_xuldev_org-sidebar-action"] + #sidebar-splitter {
  display: none !important;
}

/* 暗色侧边栏 */
#sidebar-header {
  -moz-appearance: none !important;
  background-color: var(--frame-background-color) !important;
  color: #fff !important;
  border-bottom: 1px solid #223 !important
}
#sidebar-search-container, #sidebar, .sidebar-placesTree {
  -moz-appearance: none !important;
  background-color: var(--frame-background-color) !important;
  color: #ddd !important;
}
treechildren::-moz-tree-separator {
  border-color: #333 !important
}

/* 隐藏扩展侧边栏的头部 */
/* Visual Tabs */
#sidebar-box[sidebarcommand="visualtab_xuldev_org-sidebar-action"] #sidebar-header,
/* Bitwarden */
#sidebar-box[sidebarcommand="_446900e4-71c2-419f-a6a7-df9c091e268b_-sidebar-action"] #sidebar-header {
  display: none !important;
}

/* 弹出工具栏 */
panelview#widget-overflow-mainView vbox.panel-subview-body {
  display: block !important;
  overflow: auto !important;
}
panelview#widget-overflow-mainView vbox#widget-overflow-fixed-list {
  display: flex !important;
  flex-wrap: wrap !important;
}
panelview#widget-overflow-mainView vbox#widget-overflow-fixed-list toolbarbutton {
  width: calc(100% / 10) !important;
  height: 40px !important;
}
panelview#widget-overflow-mainView vbox#widget-overflow-fixed-list label.toolbarbutton-text {
  display: none !important;
}
panelview#widget-overflow-mainView .subviewbutton.panel-subview-footer {
  min-height: unset !important;
}
