@import "color.css";

@-moz-document url("about:blank") {
  body {
    background-color: var(--color-background-dark) !important;
  }
}

/* Visual Tabs */
@-moz-document regexp("^moz-extension://[a-zA-Z0-9-]+/sidebar/view\.html.*") {
  :root {
    --background-color: var(--color-background-dark) !important;
    --separator-color: black !important;
  }
  #tabbox #tabList {
    margin-top: 6px !important;
  }
  #tabbox #tabList .tab {
    background: transparent !important;
  }
  #tabbox #tabList .tab .bar {
    padding: 0 5px !important;
  }

  /* 固定标签栏 */
  #tabbox #pinList:not(:empty) {
    border-bottom: unset !important;
  }
  #tabbox #pinList:not(:empty) .tab {
    border-right-color: var(--color-background-light) !important;
    background: white !important;
  }
  #tabbox #pinList:not(:empty) .tab[selected="true"] {
    background: var(--color-background-light) !important;
  }
  #tabbox #pinList:not(:empty) .tab .line1 {
    display: none !important;
  }
  #tabbox #pinList:not(:empty) .tab .line2 {
    height: 2px !important;
  }

  #tabbox #tabList .tab {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 15px !important;
    margin-right: 4px !important;
    border-bottom: none !important;
  }
  #tabbox #tabList .tab .bar {
    height: 24px !important;
  }

  #tabbox #tabList .tab .bar .favicon {
    padding: 12px !important;
    background-color: #ccc !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    border-radius: 5px !important;
  }
  #tabbox #tabList .tab[selected="true"] .bar .favicon {
    background-color: var(--color-background-light) !important;
  }
  #tabbox #tabList .tab .bar .title {
    color: white !important;
    background: #404040 !important;
    margin-left: 6px !important;
    padding: 4px 8px !important;
    border-radius: 7px 0 0 7px !important;
  }
  body:not(:hover) #tabList .tab .bar .title {
    display: none !important;
  }
  #tabbox #tabList .tab[selected="true"] .bar .title {
    color: #90c0ff !important;
    font-weight: unset !important;
  }
  #tabbox #tabList .tab .line1 {
    display: none !important;
  }
  #tabbox #tabList .tab .line2 {
    width: 2px !important;
  }
  #tabbox #tabList .tab button.close {
    filter: invert(1) !important;
  }
  #tabbox #tabList .tab .thumbnail {
    width: 100% !important;
    margin: 0 !important;
    box-shadow: inset 0px 1px 2px 0px #606060 !important;
  }
  #tabbox #tabList .tab[discarded="true"] {
    padding-bottom: 0 !important;
  }
  #tabbox #tabList .tab[url^="about:"] .thumbnail,
  #tabbox #tabList .tab[discarded="true"] .thumbnail {
    display: none !important;
  }
  #tabbox #tabList .tab[url^="moz-extension:"] .line2,
  #tabbox #tabList .tab[url^="file:///"] .line2,
  #tabbox #tabList .tab[url^="https://addons.mozilla.org/"] .line2,
  #tabbox #tabList .tab[url^="about:"] .line2 {
    background-color: #ee9090;
  }
  /* 自动隐藏关闭按钮 */
  #tabbox #tabList .tab:not(:hover) button.close {
    display: none !important;
  }
  /* 自动隐藏音量图标 */
  body:not(:hover) div.audio {
    display: none !important;
  }

  /* 隐藏新标签按钮 */
  #newTab {
    display: none !important;
  }

  #menu #contexts {
    border-left: none !important;
  }
  #menu #contexts button {
    color: #a0a0a0 !important;
  }
}
