/* Visual Tabs */
@-moz-document regexp("^moz-extension://[a-zA-Z0-9-]+/sidebar/view\.html.*") {
  :root[theme="light"] {
    --background-color: #445 !important;
    --separator-color: black !important;
  }
  #tabbox #tabList .tab {
    background: #445 !important;
  }
  #tabbox #tabList .tab .bar {
    background: white !important;
  }
  #tabbox #tabList .tab[selected="true"] .bar {
    background: #d0d0ff !important;
  }

  /* 固定标签栏 */
  #tabbox #pinList:not(:empty) {
    border-bottom: unset !important;
  }
  #tabbox #pinList:not(:empty) .tab {
    margin-bottom: 15px !important;
    border-right-color: #d0d0ff !important;
    background: white !important;
  }
  #tabbox #pinList:not(:empty) .tab[selected="true"] {
    background: #d0d0ff !important;
  }
  #tabbox #pinList:not(:empty) .tab .line1 {
    display: none !important;
  }
  #tabbox #pinList:not(:empty) .tab .line2 {
    height: 2px !important;
  }

  #tabbox #tabList[mode="compact"] .tab {
    padding-top: 0 !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
    margin-bottom: 15px !important;
    border-bottom: none !important;
  }
  #tabbox #tabList[mode="compact"] .tab .bar {
    height: 28px !important;
  }
  #tabbox #tabList[mode="compact"] .tab .bar .title {
    color: #333 !important;
  }
  #tabbox #tabList[mode="compact"] .tab[selected="true"] .bar .title {
    font-weight: unset !important;
  }
  #tabbox #tabList[mode="compact"] .tab .line1 {
    display: none !important;
  }
  #tabbox #tabList[mode="compact"] .tab .thumbnail {
    width: 90% !important;
    margin-top: 5px !important;
    margin-left: auto !important;
    margin-right: 0 !important;
  }
  #tabbox #tabList[mode="compact"] .tab[discarded="true"] {
    padding-bottom: 0 !important;
  }
  #tabbox #tabList[mode="compact"] .tab[url="about:blank"] .thumbnail,
  #tabbox #tabList[mode="compact"] .tab[discarded="true"] .thumbnail {
    display: none !important;
  }
  /* 自动隐藏关闭按钮 */
  #tabbox #tabList[mode="compact"] .tab:not(:hover) button.close {
    display: none !important;
  }

  /* 隐藏新标签按钮 */
  #newTab {
    display: none !important;
  }

  #menu #contexts {
    border-left: none !important;
  }
  #menu #contexts button {
    color: #a0a0a0 !important;
  }
}
