/* Tree Style Tab */
@-moz-document regexp("^moz-extension://[a-zA-Z0-9-]+/sidebar/sidebar\.html.*") {
  #tabbar {
    background: #445 !important;
  }
  #all-tabs {
    margin-top: 6px !important;
    background: #aab !important;
  }

  /* 隐藏新标签按钮 */
  .newtab-button-box {
    display: none !important;
  }

  /* 自动隐藏关闭按钮 */
  tab-item:not(:hover) tab-closebox {
    display: none !important;
  }

  /* 去除当前选中标签的蓝条 */
  span.highlighter {
    display: none !important;
  }

  /* 容器颜色 */
  tab-item:not(.faviconized) .contextual-identity-marker {
    width: 5px !important;
    left: 0 !important;
    right: unset !important;
  }

  tab-item {
   height: 34px !important;
   box-shadow: 1px 1px 1px #333 !important;
  }
  tab-item:not(.pinned) {
    border-left-width: 0 !important;
  }
  tab-item[data-level][data-level="0"] {
    margin-top: 6px !important;
    box-shadow: 1px 1px 1px #333 !important;
  }

  tab-item[data-level]:first-child {
    margin-top: 0 !important;
  }
  tab-item[data-level][data-level="1"] {
    margin-left: 0 !important;
  }
  tab-item[data-level][data-level="2"] {
    margin-left: 0 !important;
  }
  tab-item[data-level][data-level="3"] {
    margin-left: 10% !important;
  }
  tab-item[data-level][data-level="4"] {
    margin-left: 15% !important;
  }
}
