/* 隐藏标签栏 */
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
  visibility: collapse;
}

/* 去除工具栏最左和最右的空白边距 */
:root {
  --toolbar-start-end-padding: 0 !important;
}

/* 去除工具栏的火狐自带图标的边距 */
:root {
  --toolbarbutton-outer-padding: 0 !important;
}

/* 减小工具栏的高度 */
#nav-bar {
  max-height: 26px !important;
}

/* 修改地址栏的边框，以适应窄的工具栏高度 */
#urlbar-background {
  border-top: none !important;
  border-bottom: none !important;
  border-left: 1px solid var(--toolbar-field-border-color);
  border-right: 1px solid var(--toolbar-field-border-color);
  border-radius: unset !important;
}

/* 隐藏地址栏内部的容器图标 */
#urlbar .identity-icon-fingerprint {
  display: none;
}
