/* 隐藏标签栏 (标签栏嵌入标题栏的情况除外) */
#main-window:not([tabsintitlebar="true"]) #TabsToolbar {
  display: none;
}

/* 去除工具栏最左和最右的空白边距 */
:root {
  --toolbar-start-end-padding: 0 !important;
}

/* 去除工具栏的火狐自带图标的边距 */
:root {
  --toolbarbutton-outer-padding: 0 !important;
}

/* 强制设置工具栏的高度为固定值 */
#nav-bar {
  max-height: 25px !important;
}

/* 修复工具栏中的前进后退图标 (为什么特殊？) */
#nav-bar .toolbarbutton-icon[type="menu"] {
  padding: 4px !important;
  border-radius: 0 !important;
}

/* 只在Hover时显示地址栏右侧的扩展图标 */
#nav-bar:not(:hover) #urlbar-container ~ .toolbaritem-combined-buttons {
  opacity: 0;
  transition-delay: 400ms;
}
#nav-bar #urlbar-container ~ .toolbaritem-combined-buttons {
  transition: opacity 200ms;
}
#nav-bar:not(:hover) #page-action-buttons {
  max-width: 0;
}
#nav-bar #page-action-buttons {
  max-width: 9999px;
  transition: max-width 1s ease-in-out;
}

/* 修改地址栏的边框，以适应窄的工具栏高度 */
#urlbar-background {
  border-top: none !important;
  border-bottom: none !important;
  border-left: 1px solid var(--toolbar-field-border-color);
  border-right: 1px solid var(--toolbar-field-border-color);
  border-radius: unset !important;
}

/* 地址栏内部左侧的盒子 */
#urlbar #identity-box {
  margin: 2px 8px;
}
